.box {
  width: 80%;
  height: 680px;
  border-radius: 10px;
  margin: 50px auto;

  background-color: #b0c4de;
}

.content {
  display: flex;
}

.fieldMessage {
  margin: 100px;

  &_title {
    font-weight: bold;
    color: black;
    width: 300px;
    text-align: center;
    font-size: 32px;
  }

  &_content {
    margin-top: 30px;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    text-align: center;
    border-color: #778899;
    border-width: 5px;
  }
}
.iteracao {
  width: 130px;
  height: 120px;
  background-color: #778899;
  margin-top: 50px;
  border-radius: 10px;

  &_title {
    position: relative;
    text-align: center;
    font-size: 20px;
    color: white;
    font-weight: bold;
  }

  &_content {
    margin: 20px;
    width: 80px;
    height: 30px;
    font-size: 24px;
    text-align: center;
  }
}
.middle {
  margin-top: 100px;
  margin-left: 80px;
}
.fieldPassword {
  &_title {
    width: 120px;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
  }

  &_content {
    margin-top: 10px;
    width: 120px;
    height: 50px;
    text-align: center;
    font-size: 20px;
    border-color: #778899;
    border-width: 5px;
  }
}
.fieldSaida {
  margin-top: 100px;
  margin-left: 250px;

  &_title {
    width: 300px;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
  }

  &_content {
    margin-top: 30px;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    text-align: center;
    border-color: #778899;
    border-width: 5px;
  }
}

.button {
  width: 230px;
  height: 60px;
  border-radius: 10px;
  margin-left: 530px;
  font-size: 32px;
  background-color: #778899;
  color: white;
  font-weight: bold;
}

.checkbox {
  width: 230px;
  margin-left: 530px;
  margin-bottom: 40px;
  border-color: #778899;


  &_title {
    font-weight: bold;
    font-size: 20px;
  }

  &_option {
    font-weight: bold;
    width: 200px;
    margin: 10px;
  }
}