.box {
  display: flex;
  margin-top: 100px;
  margin-left: 60px;
}
.link {
  width: 30%;
  text-decoration: none;
}
.highlight {
  align-items: center;
  width: 30%;
  height: 500px;
  position: relative;
  border-radius: 15px;
  border: 2px solid #778899;
  margin: 10px;
}

.img {
  margin: 10px 150px;
  width: 200px;
  height: 200px;
  background-color: aqua;
  border-radius: 10px;
}

.title {
  position: relative;
  width: 100%;
  text-align: center;
  color: #001e87;
  font-weight: bolder;
}

.subtitle {
  width: 80%;
  margin-left: 50px;
  text-align: center;
  text-decoration: none ;
  color: black;
}