.menuExposto {
  width: 100%;
  height: 40px;
  background-color:#778899;
  display: flex;
}

.link {
  text-decoration: none;
  text-align: center;
  margin-left: 250px;
  font-weight: bold;
  margin-top: 8px;
  color: white;
  font-size: 20px;
}